.popup__button {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    margin-top: 48px;
    border: none;
    border-radius: 2px;
}

@media screen and (max-width: 600px) {
    .popup__button {
        font-size: 14px;
        line-height: 17px;
        margin-top: 45px;
    }
}
