.profile__info {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

@media screen and (max-width: 750px) {
    .profile__info {
        max-width: 350px;
    }
}

@media screen and (max-width: 450px) {
    .profile__info {
        max-width: 280px;
    }
}

