.button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .3s ease-out;
    background-color: transparent;
}

.button:hover {
    opacity: .6;
    cursor: pointer;
}

.button_size_l {
    height: 50px;
    padding: 0 12px;
    border-width: 2px;
    font-size: 18px;
    line-height: 22px;
}

.button_size_l .button__item {
    width: 22px;
    height: 22px;
}

.button_size_s {
    height: 24px;
    padding: 0 6px;
}

.button_size_s .button__item {
    width: 10px;
    height: 10px;
}

.button_theme_dark {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    margin-top: 48px;
    border: none;
    border-radius: 2px;
}

.button_theme_white {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 2px;
}

.button_theme_transparent {
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

@media screen and (max-width: 500px) {
    .button_size_s {
        height: 18px;
        padding: 0 3px;
    }

    .button_size_s .button__item {
        width: 8px;
        height: 8px;
    }

    .button_size_l .button__item {
        width: 16px;
        height: 16px;
    }
}
