.login {
    max-width: 358px;
    margin: 0 auto;
}

.login__input {
    margin-bottom: 30px;
}

.login__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 60px 0 50px;
}

.login__button {
    margin-top: 216px;
    width: 100%;
}