.popup__body {
    position: relative;
    width: 100%;
    max-width: 430px;
    background-color: #FFFF;
    border-radius: 10px;
    padding: 34px 36px 37px;
    box-sizing: border-box;
    z-index: 11;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 600px) {
    .popup__body {
        padding: 25px 22px;
    }
}
