.button_size_l {
    height: 50px;
    padding: 0 12px;
    border-width: 2px;
    font-size: 18px;
    line-height: 22px;
}

.button_size_l .button__item {
    width: 22px;
    height: 22px;
}

@media screen and (max-width: 500px) {
    .button_size_l .button__item {
        width: 16px;
        height: 16px;
    }
}