@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

@import url('./blocks/page/page.css');
@import url('./blocks/page/__content/page__content.css');

@import url('./blocks/header/header.css');
@import url('./blocks/header/__logo/header__logo.css');

@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__avatar-container/profile__avatar-container.css');
@import url('./blocks/profile/__avatar-edit/profile__avatar-edit.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__add-button/profile__add-button.css');
@import url('./blocks/profile/__add-image/profile__add-image.css');
@import url('./blocks/profile/__edit-button/profile__edit-button.css');
@import url('./blocks/profile/__name/profile__name.css');
@import url('./blocks/profile/__about/profile__about.css');
@import url('./blocks/profile/__content/profile__content.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/profile.css');

@import url('./blocks/gallery/gallery.css');
@import url('./blocks/card/card.css');
@import url('./blocks/card/__image/card__image.css');
@import url('./blocks/card/__text/card__text.css');
@import url('./blocks/card/__section/card__section.css');
@import url('./blocks/card/__heart-button/card__heart-button.css');
@import url('./blocks/card/__heart-button/_active/card__heart-button_active.css');
@import url('./blocks/card/__delete-button/card__delete-button.css');
@import url('./blocks/card/__likes/card__likes.css');
@import url('./blocks/card/__likes-count/card__likes-count.css');
@import url('./blocks/card/__delete-button/_visible/card__delete-button_visible.css');

@import url('./blocks/footer/__text/footer__text.css');

@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/__background/popup__background.css');
@import url('./blocks/popup/__background/_opasity/popup__background_opasity_dark.css');
@import url('./blocks/popup/__body/popup__body.css');
@import url('./blocks/popup/__text/popup__text.css');
@import url('./blocks/popup/__input/popup__input.css');
@import url('./blocks/popup/__error/popup__error.css');
@import url('./blocks/popup/__error/_visible/popup__error_visible.css');
@import url('./blocks/popup/__input/_type/popup__input_type_error.css');
@import url('./blocks/popup/__button/popup_button.css');
@import url('./blocks/popup/__button/_disabled/popup__button_disabled.css');
@import url('./blocks/popup/__close/popup__close.css');
@import url('./blocks/popup/__form/popup__form.css');
@import url('./blocks/popup/__form-field/popup__form-field.css');
@import url('./blocks/popup/_visibility/popup_visibility_visible.css');
@import url('./blocks/popup/__content/popup__content.css');
@import url('./blocks/popup/__image/popup__image.css');
@import url('./blocks/popup/__description/popup__description.css');
@import url('./blocks/popup/__confirm/popup__confirm.css');
@import url('./blocks/popup/__confirm-text/popup__confirm-text.css');
