.header {
    padding: 45px 0 36px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    margin-bottom: 40px;
}

@media screen and (max-width: 500px) {
    .header {
        padding-top: 28px;
        padding-bottom: 26px;
    }
}